<app-header></app-header>
<div class="container-fluid">
  <div class="mx-auto font-weight-bold text-center" style="margin-bottom:8px;margin-top: 80px">
    <p style="font-size: 1.4rem;margin-bottom: -5px;font-weight: 700;">VEHICLE INSPECTION AND VALUATION REPORT</p>
  </div>
  <div class="form-row">
    <div class="col-sm-8" style="margin-left: 57px">
      <div class="form-group row mt-3">
        <label for="tc" class="col-sm-3 col-form-label-sm" id="reportNo">Report No</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.reportNo" name="reportNo" id="reportNo1" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="tc" class="col-sm-3 col-form-label-sm" id="contactPerson">Contact Person</label>
        <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.contactPerson" name="contactPerson" placeholder="">
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="tc" class="col-sm-3 col-form-label-sm" id="messrs">Messrs</label>
        <!-- <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" name="ms" placeholder="">
        </div> -->
        <div class="col-sm-5">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.messrs" style="border:0px; border-bottom:dashed" name="messrs"
                 placeholder="">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <label for="" class="col-form-label-sm">Compliance with</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="complianceWithCR" [(ngModel)]="valuation.complianceWithCR">
          <label class="form-check-label" for="complianceWithCR">
            CR
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="complianceWithFCR" [(ngModel)]="valuation.complianceWithFCR">
          <label class="form-check-label" for="complianceWithFCR">
            FCR
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="c3">
          <label class="form-check-label" for="c3">
            YES
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="c3">
          <label class="form-check-label" for="c4">
            NO
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-1" style="text-align:end">
      <qr-code value="https://www.mjmototors.lk/" size="90" errorCorrectionLevel="M"></qr-code>
    </div>
  </div>

  <form style="margin-left: 57px;">
    <div class="form-row hideInputBorder">
      <p class="mb-0 doPrint">
        This Report is confidential and for guideline of address only and not be used for any other purpose
        or distributed to any other party or be published in any form inspection is necessarily superficial and no
        dismantling nor
        reassembling of any mechanism is implied nor accepted.</p>
      <div class="form-group row mp-0">
        <label for="timeOfInspection" class="col-sm-5 col-form-label-sm">Time of inspection</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" name="timeOfInspection" [(ngModel)]="valuation.timeOfInspection">
        </div>
      </div>
      <div class="form-group row mp-0">
        <label for="placeOfInspection" class="col-sm-3 col-form-label-sm">Place of inspection</label>
        <div class="col-sm-6" style="width:500px">
          <input type="text" class="form-control form-control-sm" name="placeOfInspection" [(ngModel)]="valuation.placeOfInspection">
        </div>
      </div>
    </div>

    <div class="form-row border-bottom border-primary" style="padding-bottom:2px;">
      <div class="form-group col-sm-2">
        <label for="regNo" class="col-form-label-sm">Reg No</label>
        <input type="text" class="form-control form-control-sm" name="regNo" [(ngModel)]="valuation.regNo" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="make" class="col-form-label-sm">Make</label>
        <input type="text" class="form-control form-control-sm" name="make" [(ngModel)]="valuation.make" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="type" class="col-form-label-sm">Model</label>
        <input type="text" class="form-control form-control-sm" name="model" [(ngModel)]="valuation.model" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="type" class="col-form-label-sm">Classification</label>
        <input type="text" class="form-control form-control-sm" name="classification" [(ngModel)]="valuation.classification" placeholder="">
      </div>
      <div class="form-group col-sm-1">
        <label for="year" class="col-form-label-sm">Year</label>
        <input type="text" class="form-control form-control-sm" name="year" [(ngModel)]="valuation.year" placeholder="">
      </div>
      <div class="form-group col-sm-3">
        <label for="engNoOrMotorNo" class="col-form-label-sm">Eng no/Motor No</label>
        <input type="text" class="form-control form-control-sm" name="engNoOrMotorNo" [(ngModel)]="valuation.engNoOrMotorNo" placeholder="">
      </div>
      <div class="form-group col-sm-3">
        <label for="chassis" class="col-form-label-sm">Chassis</label>
        <input type="text" class="form-control form-control-sm" name="chassis" [(ngModel)]="valuation.chassis" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="dateOfReg" class="col-form-label-sm">Date of Reg</label>
        <input style="padding:0px" type="text" class="form-control form-control-sm" name="dateOfReg" [(ngModel)]="valuation.dateOfReg" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="countryOfOrigin" class="col-form-label-sm">Country Of Origin</label>
        <input type="text" class="form-control form-control-sm" name="countryOfOrigin" [(ngModel)]="valuation.countryOfOrigin" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="bodyLength" class="col-form-label-sm">body Length</label>
        <input type="text" class="form-control form-control-sm" name="bodyLength" [(ngModel)]="valuation.bodyLength" placeholder="">
      </div>
      <div class="form-group col-sm-1">
        <label for="doors" class="col-form-label-sm">Doors</label>
        <input type="text" class="form-control form-control-sm" name="doors" [(ngModel)]="valuation.doors" placeholder="">
      </div>

      <div class="form-group col-sm-2">
        <label for="engineCapacity" class="col-form-label-sm">Engine Capacity</label>
        <input type="text" class="form-control form-control-sm" name="engineCapacity" [(ngModel)]="valuation.engineCapacity" placeholder="">
      </div>

      <div class="form-row">
        <div class="col-sm-12 doPrint">
          <p style="margin-bottom: 1px">I hereby declare and affirm that i am the current owner of the vehicle indicated
            above and that the information
            i have given concerning it is correct to the best of my knowledge
          </p>
        </div>

        <div class="col-sm-3 doPrint">
          <div class="form-group">
            <label for="type">Signature of Supplier/Owner</label>
            <input type="text" class="form-control form-control-sm" style="border: 0px; border-bottom:dashed"
                   name="type"
                   placeholder="">
          </div>
        </div>

        <div class="col-sm-9">
          <div class="form-row removeInputBorder">
            <table class="table table-bordered">
              <thead class="topTable">
              <tr>
                <th scope="col" width="20%">Odo-meter Reading</th>
                <th scope="col" width="15%">Date</th>
                <th scope="col" width="25%">Name</th>
                <th scope="col" width="15%">Pre Owners</th>
                <th scope="col" width="20%">Vendor/Owner</th>
              </tr>
              </thead>
              <tbody>
              <tr class="topTable">
                <th scope="row"><input type="text" class="form-control form-control-sm" name="odoMeterReading" [(ngModel)]="valuation.odoMeterReading" placeholder=""></th>
                <td><input type="text" class="form-control form-control-sm" name="date" [(ngModel)]="valuation.date" placeholder=""></td>
                <td><input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="valuation.name" placeholder=""></td>
                <td><input type="text" class="form-control form-control-sm" name="preOwner" [(ngModel)]="valuation.preOwner" placeholder=""></td>
                <td><input type="text" class="form-control form-control-sm" name="vendorOwner" [(ngModel)]="valuation.vendorOwner" placeholder=""></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- I hereby declare and affirm that i'm the current owner -->
    <div class="form-row">
      <div class="col-sm-5">
        <p class="font-weight-bold mb-0" style="font-size: 14px">TYRES & WEAR</p>
        <div class="form-row">
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-3">
            <label for="type" class="col-form-label-sm mb-2">FRONT</label>
          </div>
          <div class="form-group col-sm-2">
          </div>
        </div>
        <div class="form-row mb-0">
          <div class="form-group col-sm-2">
            <label for="size" class="col-form-label-sm" style="font-size: 11px !important;">SIZE</label>
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm p-0" [(ngModel)]="valuation.size" name="size" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <label for="type" class="col-form-label-sm mb-2" >REAR</label>
          </div>
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-2">
            <!-- <label for="type">&nbsp;</label> -->
            <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.front" name="front" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
        </div>
        <div class="form-row  mb-1">
          <div class="form-group col-sm-2">
            <label for="type" class="col-form-label-sm" style="font-size: 11px !important;">SIZE QC</label>
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm p-0" [(ngModel)]="valuation.sizeQc" name="sizeQc" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
        </div>
        <div class="form-row  mb-1">
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-2">
            <label for="type" class="col-form-label-sm" style="font-size: 12px !important;">CHECKED</label>
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-2">
            <!-- <label for="type" class="col-form-label-sm" style="font-size: 12px !important;">PASSED </label> -->
          </div>
          <div class="form-group col-sm-2">
            <label for="type" class="col-form-label-sm" style="font-size: 12px !important;">PASSED </label>
          </div>
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-2">
            <label style="font-size: 12px !important;">SPARE%</label>
          </div>
          <div class="form-group col-sm-2">
            <input type="text" class="form-control form-control-sm" name="type" placeholder="">
          </div>
        </div>
      </div>
      <div class="col-sm-7" style="margin-top:5px">
        <div style="display:flex">
          <div class="col-sm-4 p-0">
            <input class="dontPrint" type='file' (change)="onSelectFile($event)">
            <div class="card">
              <img class="card-img-top" [src]="image1" height="140" alt="image 1">
            </div>
          </div>
          <div class="col-sm-4 p-0">
            <input class="dontPrint" type='file' (change)="onSelectFile2($event)">
            <div class="card">
              <img class="card-img-top" [src]="image2" height="140" alt="image 2">
            </div>
          </div>
          <div class="col-sm-4 p-0">
            <input class="dontPrint" type='file' (change)="onSelectFile3($event)">
            <div class="card">
              <img class="card-img-top" [src]="image3" height="140" alt="image 3">
            </div>
          </div>
        </div>
        <div style="display:flex">
        <div class="col-sm-6 p-0">
          <input class="dontPrint" type='file' (change)="onSelectFile4($event)">
          <div class="card">
            <img class="card-img-top" [src]="image4" height="60" width="140" alt="image 4">
          </div>
        </div>
        <div class="col-sm-6 p-0">
          <input class="dontPrint" type='file' (change)="onSelectFile5($event)">
          <div class="card">
            <img class="card-img-top" [src]="image5" height="60" width="140" alt="image 5">
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-2">
        <label for="engineMotor" class="col-form-label-sm">ENGINE MOTOR</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.engineMotor" name="engineMotor" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="typeOfFuel" class="col-form-label-sm">TYPE OF FUEL</label>
        <div class="form-group">
          <select class="form-select form-select-sm" [(ngModel)]="valuation.typeOfFuel" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">PATROL</option>
            <option value="2">DIESEL</option>
            <option value="3">GASS</option>
          </select>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <label for="fuelType" class="col-form-label-sm">FUAL TYPE</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.fuelType" name="fuelType" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="replacedOn" class="col-form-label-sm">REPLACED ON</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.replacedOn" name="replacedOn" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="rebuiltOn" class="col-form-label-sm">RE-BUILT ON</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.rebuiltOn" name="rebuiltOn" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-2">
        <label for="paintOrFinish" class="col-form-label-sm">PAINT OR FINISH</label>
        <div class="form-group">
          <select class="form-select form-select-sm" [(ngModel)]="valuation.paintOrFinish" aria-label=".form-select-sm example" name="paintOrFinish">
            <option selected></option>
            <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <label for="bodyColour" class="col-form-label-sm">BODY COLOUR</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="valuation.bodyColour" name="bodyColour" placeholder="">
      </div>
      <div class="form-group col-sm-2">
        <label for="chassisOrUnderside" class="col-form-label-sm">CHASSIS OR UNDERSIDE</label>
        <div class="form-group">
          <select class="form-select form-select-sm" [(ngModel)]="valuation.chassisOrUnderside" aria-label=".form-select-sm example">
            <option selected></option>
            <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <label for="coachOrBodyWorks" class="col-form-label-sm">COACH OR BODY WORK</label>
        <!--    <input type="text" class="form-control form-control-sm" name="type" placeholder="">-->
        <div class="form-group">
          <select class="form-select form-select-sm" [(ngModel)]="valuation.coachOrBodyWorks" aria-label=".form-select-sm example">
            <option selected></option>
            <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-sm-3">
        <label for="type" class="col-form-label-sm">INTERNAL TRIM</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="gridCheck" [(ngModel)]="valuation.internalTrim">
            <label class="form-check-label" for="gridCheck">
              Leather
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="gridCheck" [(ngModel)]="valuation.internalTrim">
            <label class="form-check-label" for="gridCheck">
              Viny
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="gridCheck" [(ngModel)]="valuation.internalTrim">
            <label class="form-check-label" for="gridCheck">
              Cloth
            </label>
          </div>
        </div>
      </div>
    </div>


    <div class="form-row selcton2">
      <div class="col-sm-4">
        <p class="font-weight-bold mb-1 mt-1" style="font-size: 14px">GEAR BOX</p>
        <div class="form-group row">
          <label for="transmissionClutch" class="col-sm-6 col-form-label-sm">TRANSMISSION CLUTCH</label>
          <div class="col-sm-6">
            <!--        <input type="text" class="form-control form-control-sm" name="tc" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.transmissionClutch">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="gearBox" class="col-sm-6 col-form-label-sm">GEAR BOX</label>
          <div class="col-sm-6">
            <!--        <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.gearBox">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="shaftig" class="col-sm-6 col-form-label-sm">SHAFTIG</label>
          <div class="col-sm-6">
            <!--        <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.shaftig">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="diff" class="col-sm-6 col-form-label-sm">DIFF</label>
          <div class="col-sm-6">
            <!--        <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example"  [(ngModel)]="valuation.diff">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="gSelection" class="col-sm-6 col-form-label-sm">G:SELECTION</label>
          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.gSelection">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="roadTestDoneOn" class="col-sm-6 col-form-label-sm">ROAD TEST DONE ON</label>
          <div class="col-sm-6">
            <input style="padding:0px"type="date" class="form-control form-control-sm" name="roadTestDoneOn" placeholder=""  [(ngModel)]="valuation.roadTestDoneOn">
          </div>
        </div>
        <p class="font-weight-bold mb-1 mt-1" style="font-size: 14px">ELECTRICAL</p>

        <div class="form-group row">
          <label for="sStarter" class="col-sm-6 col-form-label-sm">S. STARTER</label>
          <div class="col-sm-6">
            <!--          <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.sStarter" name="sStarter">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="vipers" class="col-sm-6 col-form-label-sm">VIPERS</label>
          <div class="col-sm-6">
            <!--          <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.vipers" name="vipers">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="obligatoryLights" class="col-sm-6 col-form-label-sm">OBLIGATORY LIGHTS</label>
          <div class="col-sm-6">
            <!--          <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.obligatoryLights" name="obligatoryLights">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="horns" class="col-sm-6 col-form-label-sm">HORNS</label>
          <div class="col-sm-6">
            <!--          <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.horns" name="horns">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="meters" class="col-sm-6 col-form-label-sm">MEETERS</label>
          <div class="col-sm-6">
            <!--          <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.meters" name="meters">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-4" style="margin-top:30px">
        <div class="form-group row">
          <label for="fuelCons" class="col-sm-6 col-form-label-sm">FUEL CONS</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" name="fuelCons" [(ngModel)]="valuation.fuelCons" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="frontSuspension" class="col-sm-6 col-form-label-sm">FRONT SUSPENSON</label>
          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="frontSuspension" [(ngModel)]="valuation.frontSuspension">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="rearSuspension" class="col-sm-6 col-form-label-sm">REAR SUSPENSON</label>
          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example"  [(ngModel)]="valuation.rearSuspension" name="rearSuspension">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="steering" class="col-sm-6 col-form-label-sm">STEERING</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" name="steering" placeholder="" [(ngModel)]="valuation.steering">
          </div>
        </div>
        <div class="form-group row">
          <label for="footBrake" class="col-sm-6 col-form-label-sm">FOOT BRAKE</label>
          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example"  [(ngModel)]="valuation.footBrake" name="footBrake">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="parkingBrake" class="col-sm-6 col-form-label-sm">PARKING BRAKE</label>
          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.parkingBrake" name="parkingBrake">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="bodyPartsReplaced" class="col-sm-6 col-form-label-sm">BODY PARTS REPLACED</label>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.bodyPartsReplaced" name="bodyPartsReplaced">
                <label class="form-check-label" for="g1">
                  YES
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.bodyPartsReplaced" name="bodyPartsReplaced">
                <label class="form-check-label" for="g2">
                  NO
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="tc" class="col-sm-6 col-form-label-sm">ACCIDENTS</label>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.accidents" name="accidents">
                <label class="form-check-label" for="g3">
                  YES
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.accidents" name="accidents">
                <label class="form-check-label" for="g4">
                  NO
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="tc" class="col-sm-6 col-form-label-sm">WRITE OFF BY INSURERS</label>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.writeOffByInsurers" name="writeOffByInsurers">
                <label class="form-check-label" for="g5">
                  YES
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.writeOffByInsurers"  name="writeOffByInsurers">
                <label class="form-check-label" for="g6">
                  NO
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="tc" class="col-sm-6 col-form-label-sm">IMPACT NO GOV POLICIES</label>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.impactNoGovernmentPolicies" name="impactNoGovernmentPolicies">
                <label class="form-check-label" for="g7">
                  YES
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.impactNoGovernmentPolicies" name="impactNoGovernmentPolicies">
                <label class="form-check-label" for="g8">
                  NO
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="justLow" class="col-sm-6 col-form-label-sm">JUST LOW</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" name="justLow" [(ngModel)]="valuation.justLow" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="seating" class="col-sm-6 col-form-label-sm">SEATING</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" name="seating" [(ngModel)]="valuation.seating" placeholder="">
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <p class="font-weight-bold mb-1 mt-1" style="font-size: 14px">GENERAL MAINTENANCE STANDARD</p>
        <div class="form-group row">
          <label for="mechanical" class="col-sm-6 col-form-label-sm">MECHANICAL</label>
          <div class="col-sm-6">
            <!--          <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.mechanical" name="mechanical">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="coachOrBodyWorks" class="col-sm-6 col-form-label-sm">COACH OR BODY WOORX</label>
          <div class="col-sm-6">
            <!--          <input type="text" class="form-control form-control-sm" name="gb" placeholder="">-->
            <div class="form-group">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="valuation.coachOrBodyWorks" name="coachOrBodyWorks">
                <option selected></option>
                <option *ngFor="let lang of options" [ngValue]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="dateOfImport" class="col-sm-6 col-form-label-sm">DATE OF IMPORT</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" name="dateOfImport" [(ngModel)]="valuation.dateOfImport" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateOfClearing" class="col-sm-6 col-form-label-sm">DATE OF CLEARING</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" name="dateOfClearing" [(ngModel)]="valuation.dateOfClearing" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="countryUsedIn" class="col-sm-6 col-form-label-sm">COUNTRY USED IN</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" name="countryUsedIn" [(ngModel)]="valuation.countryUsedIn" placeholder="">
          </div>
        </div>


        <p class="font-weight-bold mb-1 mt-1" style="font-size: 14px">AVAILABILITY OF BODY PARTS</p>

        <div class="form-group row">
          <label for="tc" class="col-sm-6 col-form-label-sm">BODY PARTS</label>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"  [(ngModel)]="valuation.bodyParts" name="bodyParts">
                <label class="form-check-label" for="g9">
                  AVAILABLE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"  [(ngModel)]="valuation.bodyParts" name="bodyParts">
                <label class="form-check-label" for="g10">
                  SCARCE
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="tc" class="col-sm-6 col-form-label-sm">ENGINE PARTS</label>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"  [(ngModel)]="valuation.engineParts" name="engineParts">
                <label class="form-check-label" for="g11">
                  AVAILABLE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.engineParts" name="engineParts">
                <label class="form-check-label" for="g12">
                  SCARCE
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="tc" class="col-sm-6 col-form-label-sm">ACCESSORIES</label>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.accessories" name="accessories">
                <label class="form-check-label" for="g13">
                  AVAILABLE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" [(ngModel)]="valuation.accessories" name="accessories">
                <label class="form-check-label" for="g13">
                  SCARCE
                </label>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-12" style="padding-bottom:2px">
        <div class="form-group row font-weight-bold selcton2">
          <label for="comments" class="col-sm-3 col-form-label-sm font-weight-bold">COMMENTS</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm font-weight-bold"  name="comments" [(ngModel)]="valuation.comments" placeholder="">
          </div>
          <label for="extras" class="col-sm-3 col-form-label-sm font-weight-bold">EXTRAS</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm font-weight-bold"  name="extras" [(ngModel)]="valuation.extras" placeholder="">
          </div>
          <label for="additionalComment" class="col-sm-3 col-form-label-sm font-weight-bold">ADDITIONAL COMMENTS</label>
          <div class="col-sm-9">
            <textarea type="text" rows="1" cols="190" class="form-control font-weight-bold" name="additionalComment"  [(ngModel)]="valuation.additionalComment" placeholder=""></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row border-top border-primary" style="padding-top:2px;">
      <div class="col-sm-12">
        <div class="form-group row font-weight-bold">
          <label for="marketValues" class="col-sm-3 col-form-label-sm">MARKET VALUE (Rs.)</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm font-weight-bold" name="marketValues" [(ngModel)]="valuation.marketValues"
                   placeholder="">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm font-weight-bold" name="marketValuesWord" [(ngModel)]="valuation.marketValuesWord"
                   placeholder="">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group row font-weight-bold">
          <label for="forcedSaleValue" class="col-sm-3 col-form-label-sm">FORCED SALE VALUE (Rs.)</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm font-weight-bold" name="forcedSaleValue" [(ngModel)]="valuation.forcedSaleValue"
                   placeholder="">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm font-weight-bold" name="forcedSaleValueWord" [(ngModel)]="valuation.forcedSaleValueWord"
                   placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="form-row doPrint">
      <div class="col-sm-12">
        <p class="text-uppercase" style="font-size: 13px !important; margin-bottom: 0">declarations of valuer. i here by
          confirm that information stated is correct as per
          inspections made by me and to the best of my knowledge i also have given the above valuation after
          considering all relevant factors which affects the value of the vahicle to the best of my experience and
          knowledge</p>
      </div>
      <div class="col-sm-3" style="font-size: 13px !important; margin-top:60px">
        <p class="text-uppercase">Signature of the valuer</p>
      </div>
      <div class="col-sm-3" style="font-size: 13px !important;margin-top:60px">

      </div>
      <div class="col-sm-2" style=" font-size: 13px !important; margin-top:60px">
        <p class="text-uppercase">Prepared By</p>

      </div>
      <div class="col-sm-2 text-center" style=" margin-top:39px">
        <p class="text-uppercase " style="margin: 0; font-size: 15px">{{date  | date:'yyyy-MM-dd'}} </p>
        <p class="text-uppercase " style="margin: 0; font-size: 13px">Date</p>
      </div>
      <div class="col-sm-2 text-center">
        <ngx-barcode  style="margin: 0;"  [bc-value]="valuation.reportNo" [bc-height]="60" [bc-display-value]="false"></ngx-barcode>
      </div>

    </div>

    <div class="actionBtn dontPrint">
      <button class="btn btn-secondary dontPrint" (click)="onPrint()"> Print</button>
      <button type="submit" class="btn btn-primary dontPrint" (click)="save()" style="margin-left:10px"> Save</button>
    </div>
  </form>
</div>
