
<div class="form-group row doPrint">
  <label for="tc" class="col-sm-2 col-form-label">Report No</label>
  <div class="col-sm-2">
    <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
  </div>
</div>
<div class="form-group row doPrint">
  <label for="tc" class="col-sm-2 col-form-label">Contact Person</label>
  <div class="col-sm-2">
    <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
  </div>
</div>

<div class="mx-auto font-weight-bold" style="width: 400px;margin-bottom:20px">
  VEHICLE INSPECTION AND VALUATION REPORT
</div>

<div class="container-fluid">
  <form>
    <div class="form-row doPrint">
      <p>This Report is confidental and for guidlince of address only and not be used for any other purpose
      or distributed to any other party or be published in any from inspection is necessarily superfical and no dismanting nor
       reassembling of any machanism is implied nor accepted.</p>
       <div class="form-group row">
         <label for="staticEmail" class="col-md-6 col-form-label">Time of inspection</label>
         <div class="col-md-5">
           <input type="text"  class="form-control form-control-sm" id="staticEmail" value="">
         </div>
       </div>
       <div class="form-group row">
         <label for="staticEmail" class="col-sm-6 col-form-label">Place of inspection</label>
         <div class="col-sm-5">
           <input type="text"  class="form-control form-control-sm" id="staticEmail" value="">
         </div>
       </div>
    </div>

  <div class="form-row border-bottom border-primary" style="padding-bottom:10px;">
    <div class="form-group col-md-2">
      <label for="regNo">Reg No</label>
      <input type="text" class="form-control form-control-sm" id="regNo" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="make">Make</label>
      <input type="text" class="form-control form-control-sm" id="make" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="type">Type</label>
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="year">Year</label>
      <input type="text" class="form-control form-control-sm" id="year" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="engno">Eng no/Motor No</label>
      <input type="text" class="form-control form-control-sm" id="engno" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="Chassis">Chassis</label>
      <input type="text" class="form-control form-control-sm" id="Chassis" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="dof">Date of Reg</label>
      <input type="text" class="form-control form-control-sm" id="dof" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="type">Country Of Origin</label>
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="bodylength">body Length</label>
      <input type="text" class="form-control form-control-sm" id="bodylength" placeholder="">
    </div>

    <div class="form-row">
      <div class="col-md-12 doPrint">
        <p>I hereby declare and affirm that i am the current owner of the vehicle indicated above and that the information
          i have given concerning it is any from inspection is necessarily superfical and no dismanting nor
           reassembling of any machanism is implied nor accepted.
        </p>
      </div>

      <div class="col-md-3 doPrint">
        <div class="form-group" style="padding-bottom:20px">
          <label for="type">Signature of Supplier/Owner</label>
          <!-- <input type="text" class="form-control form-control-sm" id="type" placeholder=""> -->
        </div>
      </div>

      <div class="col-md-9">
        <div class="form-row doPrint">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-10 col-form-label">Switch key to</label>
            <div class="col-sm-5">
              <!-- <input type="text"  class="form-control form-control-sm" id="staticEmail" value=""> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-12 col-form-label">Odo-meter Reading</label>
            <div class="col-sm-5">
              <!-- <input type="text"  class="form-control form-control-sm" id="staticEmail" value=""> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-10 col-form-label">Name</label>
            <div class="col-sm-5">
              <!-- <input type="text"  class="form-control form-control-sm" id="staticEmail" value=""> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-10 col-form-label">Vendor/Owner</label>
            <div class="col-sm-7">
              <!-- <input type="text"  class="form-control form-control-sm" id="staticEmail" value=""> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-10 col-form-label">Date</label>
            <div class="col-sm-7">
              <!-- <input type="text"  class="form-control form-control-sm" id="staticEmail" value=""> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-10 col-form-label">Privious Owners</label>
            <div class="col-sm-5">
              <!-- <input type="text"  class="form-control form-control-sm" id="staticEmail" value=""> -->
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

  <!-- I hereby declare and affirm that i'm the current owner -->
<div class="row">
<div class="col-md-6">
  <p class="font-weight-bold">TYRES & WEAR</p>
  <div class="form-row">
    <div class="form-group col-md-2">
      <br>
      <label for="type">SIZE</label>
    </div>
    <div class="form-group col-md-2">
        <label for="type"><br></label>
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
    </div>
    <div class="form-group col-md-2">
    </div>
    <div class="form-group col-md-2">
      <label for="type">FRONT %</label>
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label for="type"><br></label>
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="type">SIZE QC </label>
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
        <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
        <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="type">CHECKED</label>
    </div>
    <div class="form-group col-md-2">
      <label for="type">PASSED </label>
    </div>
    <div class="form-group col-md-2">
        <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
        <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
    </div>
    <div class="form-group col-md-2">
    </div>
    <div class="form-group col-md-2">
    </div>
    <div class="form-group col-md-2">
    </div>
    <div class="form-group col-md-2">
    <label> SPARE %</label>
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control form-control-sm" id="type" placeholder="">
    </div>
  </div>
</div>
<div class="col-md-6" style="margin-top:20px">
  <div style="display:flex">
    <div class="col-md-4">
      <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <p>image 1</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
          <p>image 2</p>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card" >
          <img class="card-img-top" src="..." alt="Card image cap">
            <p>image 3</p>
        </div>
    </div>
  </div>
</div>
</div>
<div class="form-row">
  <div class="form-group col-md-2">
    <label for="type">ENGINE MOTOR</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-2">
    <label for="type">TYPE</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-2">
    <label for="type">REPLACED ON</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-2">
    <label for="type">RE-BUILT ON</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-3">
    <label for="type">INTERNAL TRIM</label>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Leather
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Viny
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Cloth
        </label>
      </div>
    </div>
  </div>
  </div>
  <div class=form-row>
  <div class="form-group col-md-2">
    <label for="type">Searviceble</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-2">
    <label for="type">PAINT OR FISISH</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-2">
    <label for="type">Weathered</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-2">
    <label for="type">BODY COLOUR</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-2">
    <label for="type">CHASSIS OR UNDERSIDE</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  <div class="form-group col-md-2">
    <label for="type">COACH OR BODY WORK</label>
    <input type="text" class="form-control form-control-sm" id="type" placeholder="">
  </div>
  </div>


<div class="row">
  <div class="col-md-6">
      <p class="font-weight-bold">GEAR BOX</p>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">TRANSMISSION CLUTCH</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="gb" class="col-sm-6 col-form-label">GEAR BOX</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="gb" class="col-sm-6 col-form-label">SHAFTIG</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="gb" class="col-sm-6 col-form-label">DIFF</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="gb" class="col-sm-6 col-form-label">G:SELECTION</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="gb" class="col-sm-6 col-form-label">ROAD TEST DONE ON</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
      </div>
    </div>

      <p class="font-weight-bold">ELECTRICAL</p>

      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">S. STARTER</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">VIPERS</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">OBLIGATORY LIGHTS</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">HORNS</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">MEETERS</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>

      <p class="font-weight-bold">GENERAL MAINTENANCE STANDARD</p>

      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">MECHANICAL</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">COACH OR BODY WOORX</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">EXTRAS</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>

      <p class="font-weight-bold">AVAILABILITY OF BODY PARTS</p>

      <div class="form-group row">
        <label for="tc" class="col-sm-6 col-form-label">BODY PARTS</label>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="g9">
              <label class="form-check-label" for="g9">
                AVAILABLE
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="g10">
              <label class="form-check-label" for="g10">
                SCARCE
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="tc" class="col-sm-6 col-form-label">ENGINE PARTS</label>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="g11">
              <label class="form-check-label" for="g11">
                AVAILABLE
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="g12">
              <label class="form-check-label" for="g12">
                SCARCE
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="tc" class="col-sm-6 col-form-label">ACCESSORIES</label>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="g13">
              <label class="form-check-label" for="g13">
                AVAILABLE
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="g13">
              <label class="form-check-label" for="g13">
                SCARCE
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">DATE OF IMPORT</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">DATE OF CLEARING</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="gb" class="col-sm-6 col-form-label">COUNTRY USED IN</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" id="gb" placeholder="">
        </div>
      </div>
  </div>

  <div class="col-md-6" style="margin-top:30px">
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">FUEL CONS</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">FRONT SUSPENSON</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">REAR SUSPENSON</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">STEERING</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">FOOT BREAKE</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">FOOT BREAKE</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">PARKING BREAKE</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">REPAIR NEEED WITHING A YEAR</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">BODY PARTS REPLACED</label>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="g1">
            <label class="form-check-label" for="g1">
              YES
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="g2">
            <label class="form-check-label" for="g2">
              NO
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">ACCIDENTS</label>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="g3">
            <label class="form-check-label" for="g3">
              YES
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="g4">
            <label class="form-check-label" for="g4">
              NO
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="tc" class="col-sm-6 col-form-label">WRITE OFF BY INSURERS</label>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="g5">
            <label class="form-check-label" for="g5">
              YES
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="g6">
            <label class="form-check-label" for="g6">
              NO
            </label>
          </div>
        </div>
      </div>
    </div>
  <div class="form-group row">
    <label for="tc" class="col-sm-6 col-form-label">COMMENTS</label>
    <div class="col-sm-6">
      <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
    </div>
  </div>
  <div class="form-group row">
    <label for="tc" class="col-sm-6 col-form-label">IMPACT NO GOVERMENT POLICIES</label>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="g7">
          <label class="form-check-label" for="g7">
            YES
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="g8">
          <label class="form-check-label" for="g8">
            NO
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="tc" class="col-sm-6 col-form-label">JUST LOW</label>
    <div class="col-sm-6">
      <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
    </div>
  </div>
  <div class="form-group row">
    <label for="tc" class="col-sm-6 col-form-label">SEATING</label>
    <div class="col-sm-6">
      <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
    </div>
  </div>

  <div class="form-group row" style="margin-top:50px">
    <label for="gb" class="col-sm-6 col-form-label">ADITION COMMENTS</label>
    <div class="col-sm-6">
      <textarea class="form-control form-control-sm" name="name" rows="2" cols="10"></textarea>
      <!-- <input type="text" class="form-control form-control-sm" id="gb" placeholder=""> -->
    </div>
  </div>
  </div>
</div>
<div class="form-row border-top border-primary" style="padding-top:10px;">
  <div class="col-md-12">
    <div class="form-group row">
      <label for="tc" class="col-sm-3 col-form-label">MARKET VALUE (Rs.)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group row">
      <label for="tc" class="col-sm-3 col-form-label">FORCED SALE VALUE (Rs.)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control form-control-sm" id="tc" placeholder="">
      </div>
    </div>
  </div>
</div>
<div class="form-row doPrint">
  <div class="col-md-12" style="margin-bottom:30px">
    <p class="text-uppercase">declarations of valuer. i here by confirm that information started is correct as per
    inspections made by me and to the best of my knowledge i also have given the above valuation after
   considering all relevant factors which affects the value of the vahicle to the best of my experience and knowledge</p>
  </div>
  <div class="col-md-4" style="margin-bottom:100px">
    <p class="text-uppercase">Signature of the valuer</p>
  </div>
  <div class="col-md-4" style="margin-bottom:100px">
    <p class="text-uppercase">Prepared</p>
  </div>
  <div class="col-md-4" style="margin-bottom:100px">
    <p class="text-uppercase">Date</p>
  </div>
</div>

<div class="actionBtn">
 <button class="btn btn-secondary dontPrint"  (click)="onPrint()"> Print </button>
 <button type="submit" class="btn btn-primary dontPrint" style="margin-left:10px"> Save</button>
 </div>
</form>
</div>
