
@media print{
  .doPrint{display:flex !important;}

  .dontPrint{display:none !important;}

  /*.label{*/
  /*  font-size: 5px !important;*/
  /*}*/
  .selcton2 label{
      /*border: 1px solid;*/
  }
  .removeInputBorder input{
    border: 0px;
  }
  .hideInputBorder input{
    border:0px;
    border-bottom: dashed;
  }
  .table-bordered td, .table-bordered th {
      border: 1px solid #000000;
  }
}

.doPrint{
  display: none;
}

/*.form-group {*/
/*    margin-bottom: 0rem;*/
/*}*/

.form-control-sm {
    height: calc(1em + .5rem + 2px) !important;
  }

.col-form-label{
  font-size: medium !important;
}
label{
  font-size: medium !important;
  font-weight: 500;
}
.actionBtn{
  text-align: end;
  margin: 10px;
  padding: 10px;
}

.col-form-label-sm {
  padding-top: calc(-.625rem + 1px);
  padding-bottom: calc(-.625rem + 1px);
  margin-bottom: 0;
  /*font-size: inherit;*/
  line-height: 1.5;
  font-size: 13px !important
}

.form-control{
  color: black;
  border: 1px solid black;
}

.form-control-sm{
  font-weight: 400;

}
.form-group{
  margin-bottom: 1px;
}
/*.mb-0 {*/
/*  */
/*}*/

select {
  width: -webkit-fill-available;
  border: 1px solid black;
  color: black;
}
p{
  font-weight: 480;
}
.topTable th, .topTable td {
  font-size: 12px;
  padding: 0.20rem !important;
}
.table-bordered{
  margin-bottom: 0px !important;
}
img{
  border: 1px solid !important;
}
/* .table-bordered td, .table-bordered th {
    border: 1px solid #000000;
} */
/* .table td, .table th{

} */
